html {
  box-sizing: border-box;
  background-color: #dcdcdc;
  font-family: 'IM Fell Great Primer SC';font-size: 22px;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Istok+Web);
@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}
