.accordionFlex{
  position: absolute;
  top: 100px;
  left: 30px;
  display: flex;
  flex-direction: column;
}

.accordionHeren, .accordionDames{
  width: 80%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  margin-top: 50px;
  border: 1px solid black;
}

.MainUL {
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}

.MainLI {
  display: table-cell;
  width: 34%;
  height: 100%;
}

.accordion-img{
  width: 100%;
  height: 100%;
  border-top: 1px solid black;
}

.Merken {
  display: none;
}

.noText{
  text-align: center;
}

.accordionHeren .MainUL .MainLI:hover{
  position: relative;
  width: 66%;
  color: black;
  transition: width 2s, height 4s;
}

.accordionDames .MainUL .MainLI:hover{
  position: relative;
  transition: width 2s, height 4s;
  width: 66%;
  color: black;
  height: 100%;
}

.accordion-img:hover .noText{
  display: none;
}

.accordion-img:hover .Merken{
  display: block;
  text-align: left;
}

#nr2{
border: 1px solid black;
border-bottom: 0px;
}
