.content-Spaar{
  display: flex;
  align-content: center;
}


.foto-Spaar {
  background-size: cover;
  background-position: center center;
  width: 50%;
  height: 600px;
  border: 1px solid black;
  padding-top: 30px;
}

.text-Spaar{
  width: 50%;
  height: 100%;
  padding-top: 30px;
  display: flex;
  align-content: space-between;
  flex-direction: column;
}

.text-Spaar-2, .text-Spaar-3, .text-Spaar-4{
  padding-top: 30px;
}
