.wrapper {
  width: 100%;
  margin: 0 auto;
}

.banner {
  background: url('../../components/images/slider/image.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  z-index: 0;
}

.body-text {
  position: relative;
  z-index: 10;
  padding-top: 2%;
  text-align: center;
}

.Main-Title {
    font-family: sans-serif;
    padding-top: 2rem;
  }

.Main-Paragraaf {
    font-size: 1.2rem;
    font-family: sans-serif;
    color: #777;
    padding: 2rem 0;
    line-height: 2rem;
  }
