.content-Spaar{
  display: flex;
  align-content: center;
}

.foto-Spaar {
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 800px;
}

.text-Spaar-2, .text-Spaar-3, .text-Spaar-4{
  padding-top: 30px;
}

.Main-Paragraaf{
  width: 80%;
}
