.page-Content{
    height: 100%;
    width: 100%;
}

.main-title{
    position: relative;
    top: 15%;
    width: 50%;
    margin: 0 auto;
}

.main-title h1{
    text-align: center;
}

.gebruikersbeheer{
    margin: 0 auto;
    margin-top: 5%;
}

.melding{
    position: absolute;
    margin: 0 auto;
    margin-top: 10%;
    margin-left: 40%;
}

table, th, td{
    border-collapse: collapse;
    text-align: center;
}
th{
    padding-bottom: 10px;
    padding-left: 20px;

}

td{
    padding-bottom: 10px;
    padding-left: 20px;
}

.update{
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    height: 25%;
}

.update-content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

