.OverOns-Uitleg{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 10px;
  align-items: center;
}

.AllePersonen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
}

.Personen{
  width: 29%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Foto{
  border-radius: 50%;
}

.FotoDiv{
}

.Text {
  width: 100%;
  height: 10%;
  border-radius: 20px;
  bottom: 0;
  text-align: center;
}

.Space-Between {
  height: 16.1%;
}

.Openingstijden{
  height: 600px;
  width: 100%;
  background-color: red;
}
