.OverOns-Uitleg{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 70px;
  align-items: center;
}

.AllePersonen {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  padding-bottom: 0px;
}

.WaarKunJeOnsVinden-div > .OverOns-Uitleg{
  padding-top: 30px;
  text-align: center;
}

.Personen{
  width: 29%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Foto{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
}

.Text {
  height: 10%;
  border-radius: 20px;
  bottom: 0;
  text-align: center;
}

.Openingstijden{
  background-color: #1C1D21;
  display: flex;
}

.Dag{
  width: 50%;
  height: 50%;
  text-align: right;
  font-weight: bold;
  color: white;
  line-height: 40px;
}
.Tijd{
  width: 50%;
  height: 50%;
  text-align: left;
  font-weight: bold;
  color: white;
  line-height: 40px;
  padding-left: 20px;
}

@media (min-width: 1281px) {
  .Foto{
    width: 300px;
    height: 300px;
  }
  .WaarKunJeOnsVinden-div > .OverOns-Uitleg{
    padding-top: 30px;
    text-align: center;
  }
}



/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .Foto{
    width: 250px;
    height: 250px;
  }
  .WaarKunJeOnsVinden-div > .OverOns-Uitleg{
    padding-top: 30px;
    text-align: center;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 800px) and (max-width: 1024px) {
  .WaarKunJeOnsVinden-div > .OverOns-Uitleg{
    padding-top: 30px;
    text-align: center;
  }
}


@media (min-width:790px) and (max-width: 800px) {
  .Foto{
    width: 200px;
    height: 200px;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 790px) {
  .AllePersonen{
    flex-direction: column;
    justify-content: center;
  }

  .Personen{
      display: flex;
      justify-content: center;
      padding-bottom: 100px;
      padding-left: 35%;
  }
  .WaarKunJeOnsVinden-div > .OverOns-Uitleg{
    padding-top: 30px;
    text-align: center;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
  ##MyIphone = 375 px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .AllePersonen{
    flex-direction: column;
    justify-content: center;
  }

  .Personen{
      display: flex;
      justify-content: center;
      padding-bottom: 100px;
      padding-left: 35%;
  }
  .WaarKunJeOnsVinden-div > .OverOns-Uitleg{
    padding-top: 30px;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .AllePersonen{
    flex-direction: column;
    justify-content: center;
  }

  .Personen{
      display: flex;
      justify-content: center;
      padding-bottom: 100px;
      padding-left: 35%;
  }
  .WaarKunJeOnsVinden-div > .OverOns-Uitleg{
    padding-top: 30px;
    text-align: center;
  }
}
