.container-flex{
  display: flex;
  flex-direction: column;
}

.container-flex div{
  text-align: center;
  width: 50%;
  background-color: red;
  margin-bottom: 50px;
}

.prijs-lingerieset h1{
  font-size: 13pt;
  margin-bottom: 1em;
}
