.head-title{
  padding-top: 1%;
}

.container-flex{
  display: flex;
  flex-direction: row;
}

.container-flex div{
  text-align: center;
  width: 50%;
}

.prijswinnaars-text h1{
  text-align: center;
  width: 35%;
  font-size: 13pt;
  margin-bottom: 1em;
}

.prijswinnaars ul{
  list-style-type: none;
}

.prijswinnaars-text2{
  margin-top: 2%;
}
