.page-Content{
   height: 100%;
 }

.main-title{
  position: relative;
  top: 15%;
  width: 50%;
  margin: 0 auto;
}

.main-title h1{
  text-align: center;
}

.container-flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 15%;
  width: auto;
   }

.container-flex h2{
  text-align: center;
}

.container-content{
  padding-left: 30px;
 }

.loginerror p{
  color: red;
}

.error{
  text-align: center;
  color: red;
  font-weight: bold;
}

.content-mailsysteem{
  padding-left: 10%;
  padding-top: 30px;
  position: relative;
}
.mails {
  position: relative;
  z-index: 10;
}

.gebruikersbeheer{
  margin: 0 auto;
  margin-top: 5%;
}

table, th, td{
  border-collapse: collapse;
}
th{
  padding-bottom: 10px;
}

td{
  padding-bottom: 10px;
}


.mailschrijven{
  position: fixed;
  width: 30%;
  padding-left: 55%;
  top: 30px;

}

#quillArea{
  width: 100%;
}

.berichtenbox {
  width: 400px;
}

.user_live{
  position: absolute;
  top: 100px;
  right: 10%;
}











