
.main-title{
    position: relative;
    top: 15%;
    width: 50%;
    margin: 0 auto;
}

.main-title h1{
    text-align: center;
}


.content-mailsysteem{
    padding-left: 10%;
    padding-top: 30px;
    position: relative;
}
.mails {
    position: relative;
    z-index: 10;
}


table, th, td{
    background-color: #696969;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}
th{
    padding-bottom: 10px;
}

td{
    padding-bottom: 10px;
    width: 30px;
}

.mailschrijven{
    position: fixed;
    width: 30%;
    padding-left: 55%;
    top: 30px;

}

#quillArea{
    width: 100%;
}

.berichtenbox {
    width: 400px;
}