.MerkenPage{
  height: 100%;
  width: 100%;
  color: black;
  word-wrap: break-word;
}

.Main-Title {
    font-family: sans-serif;
    padding-top: 2rem;
  }

.Main-Paragraaf {
    font-size: 1.2rem;
    font-family: sans-serif;
    color: #777;
    padding: 2rem 0;
    line-height: 2rem;
  }

.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.dropdown{
  position: relative;
  margin-top: 2%;
  width: 8%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: lightblue;

}
.dropbtndames {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.dropdowndames{
  position: relative;
  margin-top: -5%;
  margin-left: 92%;
  width: 8%;
}

.dropdown-contentdames {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-contentdames a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-contentdames a:hover {background-color: #f1f1f1}

.dropdowndames:hover .dropdown-contentdames {
  display: block;
}

.dropdowndames:hover .dropbtndames {
  background-color: pink;
}

#dropdowncontent-heren-ondermode{
  display: none;
  text-align: center;
  position: relative;
  width: 25%;
  height: 25%;
  margin-left: 35%;
  }

#dropdowncontent-heren-nachtmode  {
  display: none;
  text-align: center;
  position: relative;
  width: 25%;
  height: 25%;
  margin-left: 35%;
  }

#dropdowncontent-heren-badmode  {
  display: none;
  text-align: center;
  position: relative;
  width: 25%;
  height: 25%;
  margin-left: 35%;
  }

#dropdowncontent-dames-lingerie  {
  display: none;
  text-align: center;
  position: relative;
  width: 25%;
  height: 25%;
  margin-left: 35%;
  }

#dropdowncontent-dames-badmode  {
  display: none;
  text-align: center;
  position: relative;
  width: 25%;
  height: 25%;
  margin-left: 35%;
  }

#dropdowncontent-dames-nachtmode  {
  display: none;
  text-align: center;
  position: relative;
  width: 25%;
  height: 25%;
  margin-left: 35%;
  }

#dropdowncontent-dames-accessoires  {
  display: none;
  text-align: center;
  position: relative;
  width: 25%;
  height: 25%;
  margin-left: 35%;
  }

#dropdowncontent-dames-shapewear  {
  display: none;
  text-align: center;
  position: relative;
  width: 25%;
  height: 25%;
  margin-left: 35%;
  }

  #footer{
    position: absolute;
    top: 70%;
    width: 100%;
  }
