.MerkenPage{
  height: 800px;
  width: 100%;
  color: black;
  word-wrap: break-word;
}

.Main-Title {
    font-family: sans-serif;
    padding-top: 2rem;
  }

.Main-Paragraaf {
    font-size: 1.2rem;
    font-family: sans-serif;
    color: #777;
    padding: 2rem 0;
    line-height: 2rem;
  }
