.ActiesTop{
  display: flex;
  justify-content: space-around;
}

.ImageActies{
  width: 50%;
  height: 100%;
  text-align: center;
}

.ActiesButtons{
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 5%;
  width: 11%;
  box-shadow: 2px 2px 2px grey;
}

.ActiesButtons:hover{
  background-color: grey
}

.ActiesOnder{
  border-top: 1px dashed black;
  background-color: ;
  text-align: center;

  margin-top: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.ActiesOnder > .ActiesButtonsOnder {
  width: 100%;
  margin-top: 3%;
}
