/* Footer */
.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #333333;
  color: white;
  text-align: center;
}

.footeropening{
  position: relative;
  width: 50%;
  border-right: 1px solid black;
  border-bottom: 1px solid black
}

.footeropening img{
  width: 20%;
}
