html {
  box-sizing: border-box;
  background-color: #dcdcdc;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
}

.mainBox{
  display: flex;
  justify-content: center;
}

.itemBoxes{
  position: relative;
  width: 99%;
  background-color: #808080;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  -webkit-border-radius: 60px;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 30px;
}

.boxes  {
  height: 280px;
  width: 280px;
  background-color: #dcdcdc;
  display: flex;
  -webkit-border-radius: 30px;
}
.boxItem1 {
}
.boxItem2 {
}
.boxItem3 {
}
