.nav-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding: 40px;
  z-index: 6;
  left: 0px;
}

.navButton {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.headImg {
    position: relative;
    top: 0;
    height: 500px;
    width: 100%;
    filter: brightness(50%);
}
