nav {
  background: #1C1D21;
  min-height: 10px;
  position: fixed;
  top:0;
  left:0;
  right:0;
  width: 100%;
  z-index: 20;
  transition: 0.8s all ease;

}
.List-Nav {
  list-style: none;
  padding: 1rem 2rem;

}
.list-Navigatie {
    display: inline-block;
    color: black;
    padding: 0 1rem;
    font-family: sans-serif;
    color: white;

}

.scrolled {
  min-height: 10px;
  background: #1C1D21;

}
