.nav-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding: 40px;
  z-index: 6;
  left: 0px;
}

.navButton {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.headImg {
    display: flex;
    position: relative;
    z-index: 5;
    top: -108px;
    height: 500px;
    width: 100%;
    filter: brightness(50%);
}

.mainBox{
  height: 300px;
  background-color: green;
}

.itemBoxes{
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.boxes  {
  height: 250px;
  width: 300px;
  background-color: blue;
  display: flex;
}
.boxItem1 {
}
.boxItem2 {
}
.boxItem3 {
}
