.nav-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
  position: relative;
  top: -500px;
}

.Menu-Button{
    background-color: #;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.Home-Logo {
  width: 75px;
  height: 50px;
  filter: brightness(150%);
}

.header{
  position: relative;
  height: 500px;
  width: 100%;
  filter: brightness(50%);
}
