.nav-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  top: -500px;
}

.Menu-Button{
    background-color: black;
}

a {
  color: red;
}

.Home-Logo {
  width: 75px;
  height: 50px;
}

.header-img{
  position: relative;
  height: 500px;
  width: 100%;
}
